@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;500;700&display=swap');

:root{
--font-size-sm: clamp(0.8rem, 0.42vw + 0.69rem, 1.03rem);
--font-size-base: clamp(1rem, 0.68vw + 0.83rem, 1.38rem);
--font-size-md: clamp(1.25rem, 1.06vw + 0.99rem, 1.83rem);
--font-size-lg: clamp(1.56rem, 1.6vw + 1.16rem, 2.44rem);
--font-size-xl: clamp(1.95rem, 2.37vw + 1.36rem, 3.26rem);
--font-size-xxl: clamp(2.44rem, 3.45vw + 1.58rem, 4.34rem);
--font-size-xxxl: clamp(3.05rem, 4.97vw + 1.81rem, 5.79rem);
}


body{
    font-size: var(--font-size-base);
    font-family: 'Sono', sans-serif;
    background-color: #bb4411;
    background: -webkit-linear-gradient(to right, #e05215, #bb4411);
    background: linear-gradient(to right, #e05215, #bb4411);
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
}

.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75%;
    width: 75%;
    max-width: 450px;
    border-radius: 20px;
    background-color: white;
}

h1 {
    font-size: var(--font-size-xl);
    margin-top: 2vh;
}

.password-container{
    padding-top: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.password-container > i{
    color:black;
    position: absolute;
    left:74%;
    bottom:15%;
    cursor: pointer;
}

.textbox{
    width: 60%;
    background-color: lightgray;
    border: 1px gray solid;
    border-radius: 5px;
    height: fit-content;
    font-size: var(--font-size-base);
    padding: 10px;
    margin-top: 35px;
}

.registar{
    font-size: var(--font-size-md);
    border: 1px gray solid;
    background-color: #a73e11;
    color: white;
    width: 65%;
    padding: 10px;
    cursor: pointer;
    margin-top: 4vh;
}
