<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrevesPortugal - Registo</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    {{>navbar}}

    <main>
        <form class="main-content">
            <h1> REGISTO </h1>

            <form>
                <input type="text" class="textbox username" id="register-username" placeholder="Nome">
                <input type="email" class="textbox email" id="register-email" placeholder="Email">
                <div class="password-container">
                    <input type="password" class="textbox" id="register-password" placeholder="Password">
                    <i class="far fa-eye" onclick="togglePassword('register-password')"></i>
                </div>
                <div class="password-container">
                    <input type="password" class="textbox" id="register-confirmPassword" placeholder="Password">
                    <i class="far fa-eye" onclick="togglePassword('register-confirmPassword')"></i>
                </div>
                <button class="registar" onclick="registerUser()" type="button"> Registar </button>
            </form>
    </main>

    <script src="./js/index.js"></script>
</body>

</html>