@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
  background-color: #105128;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
}

img {
  width: 20%;
}

h1 {
  font-weight: bold;
}

button {
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #457656;
  width: 400px;
  height: 40px;
  background-color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #457656;
  color: #ffffff;
  transition: 0.3s;
}
